<app-navigation></app-navigation>

<div class="row align-center mx-5 my-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
        <div class="card hovercard" style="border: 3px solid white;">
            <div class="cardheader" style="background-image: url('./assets/images/cover-image.jpg');">
            </div>
            <div class="avatar">
                <img alt="avatar" src="./assets/images/beardo.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="https://patents.google.com/?inventor=Bhawani+Shekhawat">Bhawani Shekhawat</a>
                </div>
                <div class="desc text-white">Curious Developer &#174;</div>
                <div class="desc text-white">Software Artist &#8482;</div>
                <div class="desc text-white">Mental(ist) &#169;</div>
            </div>
            <div class="bottom row align-center">
                <div class="col-sm-3">
                    <a class="btn btn-primary btn-sm" target="_blank" href="https://twitter.com/beingBSS">
                        <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary btn-sm" target="_blank" href="https://www.linkedin.com/in/shekhawatbhawani/">
                        <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary btn-sm" rel="publisher" target="_blank" href="https://apps.apple.com/us/app/tapraisal-income-tax-cal-india/id1218344420#?platform=iphone">
                        <i class="fab fa-app-store-ios fa-lg"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary btn-sm" rel="publisher" target="_blank" href="https://www.facebook.com/bhawani.shekhawat/">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>