.left-sidebar{
    position:absolute;
    left:1%;
    width: 20%;
   }

div#right-sidebar{
    position:absolute;
    right:1%;
    width:20%;
    overflow-wrap: break-word;
   }
   @media screen{
    body>div#right-sidebar{
     position:fixed;
    }
   }
   * html body{
    overflow:hidden;
   } 
   * html div#content{
    height:100%;
    overflow:auto;
   }  
  
   main {
    max-width: 50%;
    margin: 0 auto;
  }
  
  h1, h2, h3, h4, h5, .text-color-style {
    color: goldenrod;
  }

  small {
    font-size: medium;
  }

  .money-color {
      color: goldenrod;
      font-size: larger;
  }

  .blue-background {
    background-color: #2A133D;
    /* background-color: midnightblue; */
  }

  .gray-background {
    background-color: gray; ;
  }

  .yellow-background {
    background-color: rgb(250, 250, 129);
  }

  .red-background {
    background-color: firebrick;
  }

  .green-background {
    background-color: seagreen;
  }

  .dark-blue-background {
    background-color: #2A133D;
    /* background-color: darkblue; */
  }

  .image-cursor {
   cursor: pointer;
  }

  .text-style {
    border: 2px solid; 
    border-color: rgb(245, 181, 18); 
    border-radius: 10px;
    color: goldenrod;
    font-size: larger;
    font-weight: bold;
    opacity: 0.8;
  }

  .card-style {
    border: 2px solid; 
    border-color: goldenrod; 
    border-radius: 50px;
  }

  .audience-poll {
    text-decoration: underline;
  }

  .winning-highlight {
    border: 3px dotted goldenrod;
    border-radius: 20px;
  }

  .alert-highlight {
    border-left: 5px dotted cornsilk;
    border-right: 5px dotted cornsilk;
    border-radius: 20px;
  }

  .border-5{
    border-style:solid;
     border-width: 5px;
    }

  .no-border {
      border: none;
  }

  .align-center {
    text-align: center;
  }

  .wrap-word {
    word-wrap: break-word;
  }

  .raised-block {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: -0.625rem; 
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
@media (max-width: 33.9em){ 
    .raised-block {
        margin-left: -0.625rem;
    }
}
.row [class^="col-"]:first-child>.raised-block {
    margin-left: -0.625rem;
}

.rightAnswer-background {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on-left {
  left: 30%;
}

.off-left {
  left:60%;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.keep-right {
  float: right;
}

.col-sm-5{
  width:250px;
  height:250px;
}

  