<app-navigation></app-navigation>
<div id="content" class="container-fluid">
    <div class="jumbotron py-2 align-center h3 col-sm-12 card-style blue-background text-white">Namaskar {{username}}!
        Let's play Kaun Banega Crorepati!
    </div>
    <div class="left-sidebar alert raised-block text-white card-style blue-background">
        <div class="row form-group">
            <img class="col-sm-4 image-cursor" [class.zoom]="!utilitiesService.lifelineAskTheAudienceLocked" src={{utilitiesService.imageSourceAskTheAudience}} 
            alt="one" (click)="getTheLifeline('audience-poll')">

            <img class="col-sm-4 image-cursor"
            [class.zoom]="!utilitiesService.lifelineFlipTheQuestionLocked" src={{utilitiesService.imageSourceFlipTheQuestion}} alt="two" 
            (click)="getTheLifeline('switch-the-question')">

            <img class="col-sm-4 image-cursor" [class.zoom]="!utilitiesService.lifelineFiftyFiftyLocked" src={{utilitiesService.imageSourceFiftyFifty}}
                alt="three" (click)="getTheLifeline('fifty-fifty')">
        </div>
        <div class="row form-group">
            <img class="col-sm-4 image-cursor" [class.zoom]="!utilitiesService.lifelineDoubleChanceLocked" src={{utilitiesService.imageSourceDoubleChance}}
            alt="three" (click)="getTheLifeline('double-chance')">

             <img class="col-sm-4 image-cursor" [class.zoom]="!utilitiesService.lifelineExtraTimeLocked" 
            src={{this.utilitiesService.imageSourceExtraTime}} alt="three" (click)="getTheLifeline('extra-time')"> 

            <img class="col-sm-4 image-cursor" [class.zoom]="!utilitiesService.lifelineAskTheExpertLocked" 
            src={{this.utilitiesService.imageSourceAskTheExpert}} alt="three" (click)="getTheLifeline('ask-the-expert')">
        </div>
        <div id="lifeline-extended" class="row form-group" [ngbCollapse]="isCollapsed">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <label class="switch text-center">
                    <input #togglebtn type="button" id="togBtn" [disabled]=!hasOptionBeenLocked>
                    <div class="slider round">
                        <span class="on on-left">Apply</span>
                        <span class="off off-left" 
                        (click)="applyFlipTheQuestionLifeLine(!togglebtn.disabled)">Marked</span>
                    </div>
                </label>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <input type="text" #usernameText='ngModel' required [(ngModel)]="username"
                    class="form-control blue-background text-style" id="name" aria-describedby="usernamelHelp"
                    [class.is-invalid]='usernameText.invalid && usernameText.touched' placeholder="Enter your name"
                    autocomplete="off">
                <small class="text-danger"
                    [class.d-none]="usernameText.valid || usernameText.untouched || isGameReset">Name is required you
                    moron!</small>
            </div>
        </div>
        <div class="row form-group align-center">
            <div class="col-sm-12">
                <div class="card card-style blue-background">
                    <button class="btn btn-default shadow-none" [disabled]="usernameText.invalid"
                        (click)="startNewGame('name.value')">
                        <h4><i class="fas fa-play"></i> {{utilitiesService.startGameHeading}}</h4>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group align-center">
            <div class="col-sm-6">
                <div class="card card-style dark-blue-background">
                    <button class="btn btn-default align-center shadow-none" [disabled]="usernameText.invalid"
                        (click)="quitTheGame()">
                        <h4><i class="fas fa-stop"> {{utilitiesService.quitGameHeading}}</i></h4>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 align-center">
                <div class="card card-style dark-blue-background">
                    <button class="btn btn-default shadow-lg" [disabled]="usernameText.invalid"
                        (click)="showNextQuestion()">
                        <h4><i class="fas fa-forward"> {{utilitiesService.nextQuestionHeading}}</i></h4>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group wrap-word">
            <div class="col-sm-12 p-0">
                <h4 style="margin-left: 5%;font-size: larger;">Current Winnings : &#8377; {{currentWinnings}}</h4>
            </div>
            <div class="col-sm-12 p-0">
                <h4 style="margin-left: 5%; font-size: larger;">Guaranteed Winnings : &#8377; {{guaranteedWinnings}}</h4>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-sm-12">
                <app-timer (clockStatus)="clockStatusFromTimerComponent($event)"></app-timer>
            </div>
        </div>
    </div>
    <div id="right-sidebar" class="card-style raised-block alert align-center blue-background">
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 15 && isNextQuestionAllowed) || (arrayIndex === 15 && !togglebtn.disabled)}">
            15.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-xs"></i> 7 Crore
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 14 && isNextQuestionAllowed) || (arrayIndex === 14 && !togglebtn.disabled)}">
            14.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-xs"></i> 5 Crore
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 13 && isNextQuestionAllowed) || (arrayIndex === 13 && !togglebtn.disabled)}">
            13.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 3 Crore
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 12 && isNextQuestionAllowed) || (arrayIndex === 12 && !togglebtn.disabled)}">
           <b class="text-info">12.</b><i class="fa fa-gem fa-sm text-info"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm text-info"></i><b class="text-info"> 1 Crore</b>
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 11 && isNextQuestionAllowed) || (arrayIndex === 11 && !togglebtn.disabled)}">
            11.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 50 Lakh
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 10 && isNextQuestionAllowed) || (arrayIndex === 10 && !togglebtn.disabled)}">
            10.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 25 Lakh
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 9 && isNextQuestionAllowed) || (arrayIndex === 9 && !togglebtn.disabled)}">
           <b class="text-info">9.</b><i class="fa fa-gem fa-sm text-info"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm text-info"></i> <b class= "text-info"> 12,50,000</b>
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 8 && isNextQuestionAllowed) || (arrayIndex === 8 && !togglebtn.disabled)}">
            8.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 6,40,000
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 7 && isNextQuestionAllowed) || (arrayIndex === 7 && !togglebtn.disabled)}">
            7.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 3,20,000
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 6 && isNextQuestionAllowed) || (arrayIndex === 6 && !togglebtn.disabled) }">
            6.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 1,60,000
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 5 && isNextQuestionAllowed) || (arrayIndex === 5 && !togglebtn.disabled)}">
           <b class="text-info">5.</b><i class="fa fa-gem fa-sm text-info"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm text-info"></i> <b class="text-info"> 80,000</b>
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 4 && isNextQuestionAllowed) || (arrayIndex === 4 && !togglebtn.disabled) }">
            4.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 40,000
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 3 && isNextQuestionAllowed) || (arrayIndex === 3 && !togglebtn.disabled)}">
            3.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 20,000
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 2 && isNextQuestionAllowed) || (arrayIndex === 2 && !togglebtn.disabled)}">
            2.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 10,000
        </div>
        <div class="money-color" 
        [ngClass]="{'alert-light winning-highlight': (arrayIndex === 1 && isNextQuestionAllowed) || (arrayIndex === 1 && !togglebtn.disabled)}">
            1.<i class="fa fa-gem fa-sm"></i>
            &nbsp;<i class="fas fa-rupee-sign fa-sm"></i> 5,000
        </div>
    </div>
    <main>
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="card-style blue-background">
                    <h4 #questionPlaceholder class="alert align-center">Question</h4>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionOneLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionOne == true, 'red-background': utilitiesService.wrongAnswerOptionOne == true }">
                    <h5 #optionOnePlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionOne === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(1, utilitiesService.isOptionOneEnabled)">Option 1
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionOnePercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionOnePercentage}}</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionTwoLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionTwo == true, 'red-background': utilitiesService.wrongAnswerOptionTwo == true }">
                    <h5 #optionTwoPlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionTwo === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(2, utilitiesService.isOptionTwoEnabled)">Option 2
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionTwoPercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionTwoPercentage}}</h4>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionThreeLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionThree == true, 'red-background': utilitiesService.wrongAnswerOptionThree == true }">
                    <h5 #optionThreePlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionThree === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(3, utilitiesService.isOptionThreeEnabled)">Option 3
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionThreePercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionThreePercentage}}</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionFourLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionFour == true, 'red-background': utilitiesService.wrongAnswerOptionFour == true }">
                    <h5 #optionFourPlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionFour === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(4, utilitiesService.isOptionFourEnabled)">Option 4
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionFourPercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionFourPercentage}}</h4>
                </div>
            </div>
        </div>
        <div class="row form-group px-2 align-center" style="border: 0px solid goldenrod;margin-top: -1%;">
            <div class="col-sm-12 text-white py-1 wrap-word">
                <i class="fas fa-info-circle fa-lg text-color-style" aria-hidden="true"></i>&nbsp;
                <small #information>{{utilitiesService.questionInformation}}</small>
            </div>
        </div>
        <div class="row form-group align-center">
            <div class="col-sm-12">
                <img class="col-sm-5" src="./assets/images/kbc-logo.png" alt="kbc-logo">
            </div>
        </div>
    </main>
    <!-- <div class="row form-group px-2 align-center" style="border: 0px solid goldenrod;margin-top: -1%;">
        <div class="col-sm-12 text-white py-1 wrap-word">
            <i class="fas fa-info-circle fa-lg text-color-style" aria-hidden="true"></i>&nbsp;
            <small #information>{{utilitiesService.questionInformation}}</small>
        </div>
    </div> -->
</div>