<app-navigation></app-navigation>
<div id="content" class="container-fluid">
    <div class="jumbotron py-2 align-center h3 col-sm-12 card-style blue-background text-white">Hello  {{username}}!
        Let's start your mcq round!
    </div>
    <div class="left-sidebar alert raised-block text-white card-style blue-background">
        <div id="lifeline-extended" class="row form-group" [ngbCollapse]="isCollapsed">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <input type="text" #usernameText='ngModel' required [(ngModel)]="username"
                    class="form-control blue-background text-style" id="name" aria-describedby="usernamelHelp"
                    [class.is-invalid]='usernameText.invalid && usernameText.touched' placeholder="Enter your name"
                    autocomplete="off">
                <small class="text-danger"
                    [class.d-none]="usernameText.valid || usernameText.untouched || isGameReset">Name is required you
                    moron!</small>
            </div>
        </div>
        <div class="row form-group align-center">
            <div class="col-sm-12">
                <div class="card card-style blue-background">
                    <button class="btn btn-default shadow-none" [disabled]="usernameText.invalid"
                        (click)="startNewGame('name.value')">
                        <h4><i class="fas fa-play"></i> {{utilitiesService.startGameHeading}}</h4>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group align-center">
            <div class="col-sm-6">
                <div class="card card-style dark-blue-background">
                    <button class="btn btn-default align-center shadow-none" [disabled]="usernameText.invalid"
                        (click)="quitTheGame()">
                        <h4><i class="fas fa-stop"> {{utilitiesService.quitGameHeading}}</i></h4>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 align-center">
                <div class="card card-style dark-blue-background">
                    <button class="btn btn-default shadow-lg" [disabled]="usernameText.invalid"
                        (click)="showNextQuestion()">
                        <h4><i class="fas fa-forward"> {{utilitiesService.nextQuestionHeading}}</i></h4>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group wrap-word">
            <div class="col-sm-12 p-0">
                <h4 style="margin-left: 5%;font-size: larger;">Current Points:  {{currentWinnings}}</h4>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-sm-12">
                <app-timer (clockStatus)="clockStatusFromTimerComponent($event)"></app-timer>
            </div>
        </div>
    </div>
    <div id="right-sidebar" class="card-style raised-block alert align-center blue-background">
        <p style="color: white;">Hope you enjoy this round as well!</p>
        
    </div>
    <main>
        <div class="row form-group">
            <div class="col-sm-12">
                <div class="card-style blue-background">
                    <h4 #questionPlaceholder class="alert align-center">Question</h4>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionOneLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionOne == true, 'red-background': utilitiesService.wrongAnswerOptionOne == true }">
                    <h5 #optionOnePlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionOne === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(1, utilitiesService.isOptionOneEnabled)">Option 1
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionOnePercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionOnePercentage}}</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionTwoLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionTwo == true, 'red-background': utilitiesService.wrongAnswerOptionTwo == true }">
                    <h5 #optionTwoPlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionTwo === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(2, utilitiesService.isOptionTwoEnabled)">Option 2
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionTwoPercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionTwoPercentage}}</h4>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionThreeLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionThree == true, 'red-background': utilitiesService.wrongAnswerOptionThree == true }">
                    <h5 #optionThreePlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionThree === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(3, utilitiesService.isOptionThreeEnabled)">Option 3
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionThreePercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionThreePercentage}}</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-style blue-background"
                    [ngClass]="{'yellow-background':(utilitiesService.isOptionFourLocked == true), 
                    'green-background': utilitiesService.rightAnswerOptionFour == true, 'red-background': utilitiesService.wrongAnswerOptionFour == true }">
                    <h5 #optionFourPlaceHolder [class.rightAnswer-background]="utilitiesService.rightAnswerOptionFour === true"
                        class="alert align-center image-cursor" (click)="lockOptionAndWait(4, utilitiesService.isOptionFourEnabled)">Option 4
                    </h5>
                </div>
                <div *ngIf="utilitiesService.audiencePollOptionFourPercentage" class="col-sm-2 text-white audience-poll keep-right">
                    <h4 class="text-white">{{utilitiesService.audiencePollOptionFourPercentage}}</h4>
                </div>
            </div>
        </div>
        <div class="row form-group px-2 align-center" style="border: 0px solid goldenrod;margin-top: -1%;">
            <div class="col-sm-12 text-white py-1 wrap-word">
                <i class="fas fa-info-circle fa-lg text-color-style" aria-hidden="true"></i>&nbsp;
                <small #information>{{utilitiesService.questionInformation}}</small>
            </div>
        </div>
        <div class="row form-group align-center">
            <div class="col-sm-12">
                <img class="col-sm-5" src="./assets/images/sxc-logo.png" alt="kbc-logo">
            </div>
        </div>
    </main>
</div>