<app-navigation></app-navigation>
<div class="row mx-4">
    <div class="col-sm-12 text-center">
        <img class="col-sm-5" src="./assets/images/sxc-logo.png" alt="sxc-logo">
    </div>
</div>
<div class="text-center" style="margin-left: 35%;margin-right: 35%;">
    <div class="text-center my-1">
        <a routerLink="/game-show" routerLinkActive="active" class="btn btn-outline-info btn-lg btn-block text-white">Play</a>
    </div>
    <div class="text-center my-1">
        <a routerLink="/rules" class="btn btn-outline-info btn-lg btn-block text-white">Rules</a>
    </div>
    <div class="text-center my-1">
        <a routerLink="/about" class="btn btn-outline-info btn-lg btn-block text-white">About</a>
    </div>
</div>
