#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: large;
}

#clockdiv > div{
    display: inline-block;
	border-radius: 20px;
	background: #2A133D;
    /* background: darkblue; */
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
    display: inline-block;
}

.golden-border {
	border: 2px solid goldenrod;
}

.red-border {
	border: 2px solid crimson;
}