<div #sidebarNavigator id="sidebarNavigator" class="overlay" (click)="closeNav()" role = "dialog" aria-modal="true">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" style="top: 15%;" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top image-size" src="./assets/images/there-are-rules.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-italic golden-font">Rules</h4>
              <p class="card-text text-white">Take some time to understand the rules of the game. Trust me that'll help.
              </p>
              <a routerLink="/rules" class="btn btn-outline-info rounded">Rules!<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top image-size" src="./assets/images/until-next-time-old-sport.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-italic golden-font">See you around!</h4>
              <p class="card-text text-white">Now that the grand site tour is over, shall we start no the mcq round
                ?</p>
              <a routerLink="/game-show" class="btn btn-outline-info">Let's Play!<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top image-size" src="./assets/images/dumb-questions.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-italic golden-font">Upload Questions</h4>
              <p class="card-text text-white">Upload your questions ( beta mode! Does not work right now ) </p>
              <a routerLink="/upload-questions" class="btn btn-outline-info">Questions!<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top image-size" src="./assets/images/it-is-always-about-me.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-italic golden-font">About</h4>
              <p class="card-text text-white">The name is Anonymous! That's enough said for now</p>
              <a routerLink="/about" class="btn btn-outline-info">About Me!<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-light">
  <button class="navbar-toggler btn-sm bg-light" type="button" (click)="openNav()">
    <i class="fa fa-bars fa-2" aria-hidden="true"></i>
  </button>
  <div class="form-inline">
    <button [routerLink]="'/startup'" class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas
       fa-home fa-lg"></i></button>
  </div>
</nav>
