.image-size {
    width: 60px;
    height: 50px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   h1, h2, h3, h4, h5,h6 {
    color: goldenrod;
  }

  ul, li {
    border: skyblue 4px solid;
    border-radius: 20px;
  }

  ul {
      border: 0px;
  }

  .fa-stopwatch, .fa-heartbeat, .fa-clipboard-check, .fa-question, .fa-first-aid, .fa-user-shield {
    color: goldenrod;
  }

