
.image-size {
    width: 60px;
    height: 50px;
}
   h1, h2, h3, h4, h5,h6 {
    color: goldenrod;
  }

  ul, li {
    border: skyblue 4px solid;
    border-radius: 20px;
  }

  ul {
      border: 0px;
  }

  .fa-stopwatch, .fa-heartbeat, .fa-clipboard-check, .fa-question, .fa-first-aid, .fa-user-shield {
    color: goldenrod;
  }

