<app-navigation></app-navigation>
<div id="carouselExampleIndicators" class="carousel slide" data-interval="false" 
style="border: goldenrod 3px solid; height: 10o px;">

    <div class="carousel-inner rounded" >
        <div class="carousel-inner">       
                <h2 class="mx-5">The following are the rules for MCQ Round</h2>
                <ul class="list-group mx-5">
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-stopwatch fa-lg p-2"></i>
                        <h6 class="align-left font-italic">Each Question will be timed. A running timer of 45 seconds is
                            shown while
                            the player plays the game. If a player fails to register an answer within the allotted time,
                            the game will
                            be reset automatically.
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-user-shield fa-lg p-2"></i>
                        <h6 class="align-left font-italic">There may be some safe zones in the game where your poitns will not be deducted (
                            still not sure on what to do about it).</h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-heartbeat fa-lg p-2"></i>
                        <h6 class="align-left font-italic">All the lifelines are single use. Once a lifeline has been
                            marked, can not
                            be undone. Therefore, it is advisable to be very judicious while using a lifeline. You
                            probably are aware
                            of this but I needed to make it official.
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-clipboard-check fa-lg p-2"></i>
                        <h6 class="align-left font-italic">The questions currently come from a configuration file.
                            However, there are plans ( we need to work on this as well)
                            to integrate a backend or get the question from some other method.
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-question fa-lg p-2"></i>
                        <h6 class="align-left font-italic">If you would like to feed your own questions and play with
                            your friends,
                            please navigate to Upload Questions screen. The Upload Questions screen has option for
                            either using the
                            system user interface to upload questions or you can upload the json file itself.
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-first-aid fa-lg p-2"></i>
                        <h6 class="align-left font-italic">For any technical problems during the MCQ round it will be managed by the organizing team.
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
        <br><br>
    </div>