<app-navigation></app-navigation>
<div id="carouselExampleIndicators" class="carousel slide" data-interval="false" 
style="border: goldenrod 3px solid; height: 10o px;">

    <div class="carousel-inner rounded" >
        <div class="carousel-inner">       
                <h2 class="mx-5">The following are the rules for MCQ Round</h2>
                <ul class="list-group mx-5">
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-stopwatch fa-lg p-2"></i>
                        <h6 class="align-left font-italic">Each Question will be timed. A running timer of 30 seconds is
                            shown while
                            the participant answers the question. 
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-user-shield fa-lg p-2"></i>
                        <h6 class="align-left font-italic">If a participant fails to register an answer within the allotted time,
                            they will receive no point and the round continues with next question. </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-heartbeat fa-lg p-2"></i>
                        <h6 class="align-left font-italic"><b>10</b> points are given for a correct answer
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-clipboard-check fa-lg p-2"></i>
                        <h6 class="align-left font-italic"><b>Negative 5</b> points are given for incorrect answers
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-question fa-lg p-2"></i>
                        <h6 class="align-left font-italic">The participants can give up on the question and the round will continue with next question
                        </h6>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <i class="fas fa-first-aid fa-lg p-2"></i>
                        <h6 class="align-left font-italic">For any technical problems during the MCQ round it will be managed by the organizing team.
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
        <br><br>
    </div>